<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Listado de Dispositivos</ion-title>
  </ion-toolbar>

  <!-- Lista de dispositivos -->
  <ion-list *ngIf="dispositivos && dispositivos.length > 0">
    <ion-item *ngFor="let dispositivo of dispositivos" [appCambiarFondoColor]="'lightblue'">
      <a [routerLink]="['/dispositivo/', dispositivo.dispositivoId]" routerLinkActive="active" ariaCurrentWhenActive="page">
        {{ dispositivo.nombre }}- {{ dispositivo.ubicacion | cambiarAmayuscula}}
      </a>
    </ion-item>
  </ion-list>
 
</ion-content>